<div class="row my-5">
  <div class="col-md-1">  </div>
  <div class="col-md-4">
    <div class="form-group row my-3">
      <label class="col-sm-4">Name</label>
      <div class="col-sm-8">
          <input type="text" name="grid-name" class="form-control" [(ngModel)]="this.grid.name"
          placeholder="Enter grid base theme">
      </div>
    </div>
    <div class="form-group row my-3">
      <label class="col-sm-4">Theme</label>
      <div class="col-sm-8">
          <input type="text" name="grid-theme" class="form-control" [(ngModel)]="this.grid.theme"
          placeholder="Enter grid base theme">
      </div>
    </div>
    <div class="form-group row my-3">
      <label class="col-sm-4">Agility-Required</label>
      <div class="col-sm-8">
          <input type="number" name="card-cost" class="form-control" [(ngModel)]="this.grid.agilityRequired"
          placeholder="0">
      </div>
    </div>
    <div class="form-group row my-5">
      <label class="col-sm-4">Is Interactable</label>
        <input class="col-sm-2 isReady" type="checkbox" name="card-is-ready" [(ngModel)]="grid.isInteractable">
    </div>
    <div class="form-group row my-5">
      <label class="col-sm-4">Is Special</label>
        <input class="col-sm-2 isReady" type="checkbox" name="card-has-effect" [(ngModel)]="grid.hasEffect">
    </div>
    <div class="form-group row my-5">
      <label class="col-sm-4">Add grid to library</label>
      <button (click)="addGrid()" class="btn btn-primary col-sm-2">Save</button>
    </div>
  </div>
  <div class="col-md-4 bg-secondary">
    <img width="100%" src="{{this.grid.imageUrl}}">
    <div class="row mb-3">
      <label class="col-md-12 text-center custom-label">ImageUrl</label>
      <div class="col-md-12">
          <input type="text" name="card-image" class="form-control" [(ngModel)]="this.grid.imageUrl"
          placeholder="Enter Card ImageUrl">
      </div>
    </div>
  </div>
</div>
