.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

@media (max-width: 600px) {
  .parent-container {
    padding: 20px;
  }
  form {
    width: 100%;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Adds space between form fields */
  width: 100%; /* Adjust as needed */
  max-width: 400px; /* Adjust as needed */
  margin: 0 auto; /* Center the form */
}

mat-form-field {
  width: 100%; /* Ensure form fields take full width */
}

button[mat-raised-button] {
  margin-top: 20px; /* Add some space above the button */
}
